<!DOCTYPE html>
<html lang="en" class="light">

<head>
  <%- include('partials/header') %>
  <title><%= title %></title>
</head>

<body>
  <%- include('partials/navbar') %>

  <section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
      <div class="max-w-screen-lg text-gray-500 sm:text-lg dark:text-gray-400">
        <h2 class="mb-4 text-4xl tracking-tight font-bold text-gray-900 dark:text-white">Building the world's biggest extracurricular learning platform.</h2>
        <p class="mb-4 font-light">Learnify is an innovative education platform dedicated to transforming extracurricular learning. </p>
        <p class="mb-4 font-medium">We offer a comprehensive range of educational content, including videos, articles, quizzes, and projects across various fields outside of traditional school curricula.
          If you are a motivated student eager to enhance your learning capabilities and expand your knowledge, Learnify is the perfect resource for you. Likewise, if you are a school administrator committed to providing your students with free access to quality extracurricular education and preparing them for future career success, Learnify is the ideal solution.
          We welcome your interest and encourage you to contact us at learnify.bots@gmail.com to explore how we can support your educational goals.</p>
        <a href="/contact" class="inline-flex items-center font-medium text-primary-600 hover:text-primary-800 dark:text-primary-500 dark:hover:text-primary-700">
          Contact us
          <svg class="ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
          </svg>
        </a>
      </div>
    </div>
    <hr class="my-8 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8">
    <iframe width="1038" height="584" src="https://www.youtube.com/embed/g7nnvGzE8SI" class="border border-gray-300 rounded-lg mx-auto aspect-video" title="Learnify Demo - Non-Trivial" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </section>
</body>

</html>