body {
    font-family: 'Montserrat', sans-serif;
}

#dashboard-area {
    margin-left: 50px;
    padding: 30px;
}

.dh-chart {
    vertical-align: top;
    display: inline-block;
}

@media screen and (min-width: 640px) {
    #dashboard-area {
        margin-left: 270px;
        padding: 30px;
    }
}

.ql-toolbar {
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
}

.ql-container {
    border-bottom-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
