body {
    font-family: 'Montserrat', sans-serif;
}

#dashboard-area {
    margin-left: 50px;
    padding: 30px;
}

.dh-chart {
    vertical-align: top;
    display: inline-block;
}

@media screen and (min-width: 640px) {
    #dashboard-area {
        margin-left: 270px;
        padding: 30px;
    }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
